<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Card Game Test (N2N)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-12">
            <div class="card w-50">
                <div class="card-header bg-info">
                    <h1>Home Page</h1>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">
                            <div class="col-12">
                                <form th:action="@{/result}" method="GET">
                                    <div class="form-row">
                                        <p>Welcome ! This is a <strong>Card Game</strong> developed by <strong><i>Ahmad Hafidzi</i></strong>.</p>
                                        <p>Below is the list of cards in ASCENDING orders (each card has alphanumeric and symbol):</p>
                                        <table border="5">
                                            <tr>
                                                <td>2@</td>
                                                <td>2#</td>
                                                <td>2^</td>
                                                <td>2*</td>
                                                <td>3@</td>
                                                <td>3#</td>
                                                <td>3^</td>
                                                <td>3*</td>
                                                <td>4@</td>
                                                <td>4#</td>
                                                <td>4^</td>
                                                <td>4*</td>
                                            </tr>
                                            <tr>
                                                <td>5@</td>
                                                <td>5#</td>
                                                <td>5^</td>
                                                <td>5*</td>
                                                <td>6@</td>
                                                <td>6#</td>
                                                <td>6^</td>
                                                <td>6*</td>
                                                <td>7@</td>
                                                <td>7#</td>
                                                <td>7^</td>
                                                <td>7*</td>
                                            </tr>
                                            <tr>
                                                <td>8@</td>
                                                <td>8#</td>
                                                <td>8^</td>
                                                <td>8*</td>
                                                <td>9@</td>
                                                <td>9#</td>
                                                <td>9^</td>
                                                <td>9*</td>
                                                <td>10@</td>
                                                <td>1#</td>
                                                <td>10^</td>
                                                <td>10*</td>
                                            </tr>
                                            <tr>
                                                <td>J@</td>
                                                <td>J#</td>
                                                <td>J^</td>
                                                <td>J*</td>
                                                <td>Q@</td>
                                                <td>Q#</td>
                                                <td>Q^</td>
                                                <td>Q*</td>
                                                <td>K@</td>
                                                <td>K#</td>
                                                <td>K^</td>
                                                <td>K*</td>
                                            </tr>
                                            <tr>
                                                <td>A@</td>
                                                <td>A#</td>
                                                <td>A^</td>
                                                <td>A*</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <p><strong>Rules to win :</strong></p>
                                    </div>
                                    <div>
                                        <p><i>1) Player with the highest number of cards with same alphanumeric part. If no, then </i></p>
                                    </div>
                                    <div>
                                        <p><i>2) If more than 1 player has the same number of winning cards, the alphanumeric part with higher
                                            value won. If no, then</i></p>
                                    </div>
                                    <div>
                                        <p><i>3) If tie, the symbol part with high value won.</i></p>
                                    </div>
                                    <div>
                                        <p><strong>Click the button to distribute the cards to 4 players and see who wins :</strong> <button type="submit">Let's Play !</button> </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>